<%= @group.name %>
<%= simple_format(@group.description) %> 
<% @stations.each do |station| %>
  <li>
    <%= link_to station.name, tv_station_path(station) %>
    <%= link_to 'edit', edit_tv_station_path(station) %>
    <%= button_to 'delete', tv_station_path(station), :method => :delete %>
  </li>
<% end %>
<p><%= link_to 'back to index', tv_groups_path %></p>
