<%= @group.name %>
<%= simple_format(@group.description) %> 
<% @stations.each do |station| %>
  <li>
    <%= link_to station.name, tv_station_path(station) %>
    <% if (@station_cur_programs != nil) and (@station_cur_programs[station] != nil) and (not @station_cur_programs[station].empty?) %>
      <br>
      <% @station_cur_programs[station].each do |programship, program| %>
        <%= link_to program.name, tv_program_path(program) %>
	<%= "watch(" + program.watch_count.to_s + "), discuss(" + program.discuss_count.to_s + "), checkin(" + program.checkin_count.to_s + "), " %>
	<%= "time(" + programship.begin_time.to_s + "~" + programship.end_time.to_s + ")" %>
	<br>
      <% end %>      
    <% end %>
  </li>
<% end %>
<p><%= link_to 'back to index', tv_groups_path %></p>
