<%= "tv_program(" + @discuss.tv_program.name + ")" %>
<br/>

<% if (@discuss.discuss_type == 1) %>
  <%= link_to "RE: " + @src_discuss.topic, discuss_path(@src_discuss) %>
  <br/>
<% end %>

<%= "topic : " + @discuss.topic %>
<br/>
<%= "time : " + @discuss.time.to_s %>
<br/>
<%= link_to @user.name, user_path(@user) %>
<br/>
<%= simple_format(@discuss.content) %>

<% @discuss.quotes.each do |quote| %>
  <li>
    <%= link_to quote.topic, discuss_path(quote) %>
  </li>
<% end %>

<p>
  <%= link_to 'reply discuss', {:controller =>'discuss_relationships', :action => 'new', :src => @discuss, :program => @discuss.tv_program} %>
</p>
