<% if @program.episode == nil %>
  <%= @program.name %>
<% else %>
  <%= @program.name + "(" +  @program.episode.to_s + ")" %>
<% end %>
<% if @program.image and not @program.image.empty? %>
  <br/>
  <img src="data:image/jpg;base64,<%=@program.image %>">
<% end %>
<%= simple_format(@program.description) %> 
<br>
<%= "Key word : " + @program.key_word.to_s %> 

<br>
<% if @program.group_type != 0 %>
    <%= link_to "program group : " + @program.program_group.name, program_group_path(@program.program_group) %>
<% end %>

<% if current_user != nil %>
  <% if current_user.has_watch_tv_program(@program) %>
    <%= form_tag(user_programship_path, :method => 'delete') do %>
      <%= hidden_field_tag 'user', current_user.id %>
      <%= hidden_field_tag 'tv_program', @program.id %>
      <%= submit_tag("unwatch") %>
    <% end %>
  <% else %>
    <%= form_tag(user_programships_path, :method => 'post') do %>
      <%= hidden_field_tag 'user', current_user.id %>
      <%= hidden_field_tag 'tv_program', @program.id %>
      <%= submit_tag("watch") %>
    <% end %>
  <% end %>
<% end %>
<br/>

<% if current_user != nil %>
  <% if current_user.has_checkin_tv_program(@program) %>
    <%= form_tag(user_checkinship_path, :method => 'delete') do %>
      <%= hidden_field_tag 'user', current_user.id %>
      <%= hidden_field_tag 'tv_program', @program.id %>
      <%= submit_tag("uncheckin") %>
    <% end %>
  <% else %>
    <%= form_tag(user_checkinships_path, :method => 'post') do %>
      <%= hidden_field_tag 'user', current_user.id %>
      <%= hidden_field_tag 'tv_program', @program.id %>
      <%= submit_tag("checkin") %>
    <% end %>
  <% end %>
  <br>
  <%= form_tag(new_crawl_program_content_path, :method => 'get') do %>
    <%= hidden_field_tag 'user', current_user.id %>
    <%= hidden_field_tag 'program', @program.id %>
    <%= submit_tag("crawl_program") %>
  <% end %>
<% end %>
<br/>

<br>
<%= "讨论条数:" + @program.discusses.size.to_s %>
<% @program.discusses.sort!{|x, y| y.time <=> x.time} %>
<% @program.discusses.each do |discuss| %>
  <li>
    <%= link_to discuss.content, discuss_path(discuss) %>
    <%= " by " %>
    <%= link_to discuss.user.name, user_path(discuss.user) %>
  </li>
<% end %>
<p>
  <%= link_to 'new discuss', {:controller => 'discuss_relationships', :program_type => 0, :action => 'new', :program => @program.id} %>
</p>

<br>
<%= "watch:" + @program.watch_count.to_s %>
<% @program.users.each do |user| %>
  <li>
    <%= link_to user.name, user_path(user) %>
  </li>
<% end %>

<br>
<%= "checkin:" + @program.checkin_count.to_s %>
<% @program.checkin_users.each do |user| %>
  <li>
    <%= link_to user.name, user_path(user) %>
  </li>
<% end %>

