<% if @program.episode = 0 %>
  <%= @program.name %>
<% else %>
  <%= @program.name + "(" +  @program.episode.to_s + ")" %>
<% end %>
<%= simple_format(@program.description) %> 
<br>
<%= "讨论条数:" + @program.discusses.size.to_s %>
<% @program.discusses.each do |discuss| %>
  <li>
    <%= link_to discuss.topic, discuss_path(discuss) %>
  </li>
<% end %>
<p>
  <%= link_to 'new discuss', {:controller =>'discuss_relationships', :action => 'new', :program => @program.id} %>
</p>
