<% if @program_group.total_episode == nil %>
  <%= @program_group.name %>
<% else %>
  <%= @program_group.name + "(" +  @program_group.total_episode.to_s + ")" %>
<% end %>
<% if @program_group.image and not @program_group.image.empty? %>
  <br/>
  <img src="data:image/jpg;base64,<%=@program_group.image %>">
<% end %>
<%= simple_format(@program_group.description) %> 

<br>
<%= "related tv program:" + @program_group.tv_programs.size.to_s %>
<% @program_group.tv_programs.each do |tv_program| %>
  <li>
    <%= link_to tv_program.name, tv_program_path(tv_program) %>
  </li>
<% end %>

<% if current_user != nil %>
  <% if current_user.has_watch_program_group(@program_group) %>
    <%= form_tag(user_programship_path, :method => 'delete') do %>
      <%= hidden_field_tag 'user', current_user.id %>
      <%= hidden_field_tag 'program_group', @program_group.id %>
      <%= submit_tag("unwatch") %>
    <% end %>
  <% else %>
    <%= form_tag(user_programships_path, :method => 'post') do %>
      <%= hidden_field_tag 'user', current_user.id %>
      <%= hidden_field_tag 'program_group', @program_group.id %>
      <%= submit_tag("watch") %>
    <% end %>
  <% end %>
<% end %>
<br/>

<% if current_user != nil %>
  <% if current_user.has_checkin_program_group(@program_group) %>
    <%= form_tag(user_checkinship_path, :method => 'delete') do %>
      <%= hidden_field_tag 'user', current_user.id %>
      <%= hidden_field_tag 'program_group', @program_group.id %>
      <%= submit_tag("uncheckin") %>
    <% end %>
  <% else %>
    <%= form_tag(user_checkinships_path, :method => 'post') do %>
      <%= hidden_field_tag 'user', current_user.id %>
      <%= hidden_field_tag 'program_group', @program_group.id %>
      <%= submit_tag("checkin") %>
    <% end %>
  <% end %>
  <br>
  <%= form_tag(new_crawl_program_content_path, :method => 'get') do %>
    <%= hidden_field_tag 'user', current_user.id %>
    <%= hidden_field_tag 'program', @program_group.id %>
    <%= hidden_field_tag 'program_type', @program_group.program_type %>
    <%= submit_tag("crawl_program") %>
  <% end %>
<% end %>
<br/>

<br>
<%= "讨论条数:" + @program_group.discusses.size.to_s %>
<% @program_group.discusses.sort!{|x, y| y.time <=> x.time} %>
<% @program_group.discusses.each do |discuss| %>
  <li>
    <%= link_to discuss.content, discuss_path(discuss) %>
    <%= " by " %>
    <%= link_to discuss.user.name, user_path(discuss.user) %>
  </li>
<% end %>
<p>
  <%= link_to 'new discuss', {:controller => 'discuss_relationships', :program_type => 1, :action => 'new', :program => @program_group.id} %>
</p>

<br>
<%= "watch:" + @program_group.watch_count.to_s %>
<% @program_group.watch_users.each do |user| %>
  <li>
    <%= link_to user.name, user_path(user) %>
  </li>
<% end %>


<br>
<%= "checkin:" + @program_group.checkin_count.to_s %>
<% @program_group.checkin_users.each do |user| %>
  <li>
    <%= link_to user.name, user_path(user) %>
  </li>
<% end %>
