<%= @user.name %>
<br>
<%= "email : " + @user.email %>
<%= simple_format(@user.address) %>
<% if @user == current_user %>
<% elsif @user.has_follower(current_user) %>
  <%= form_tag(user_relationship_path, :method => 'delete') do %>
    <%= hidden_field_tag 'user', @user.id %>
    <%= hidden_field_tag 'follower', current_user.id %>
    <%= submit_tag("unfollow") %>
  <% end %>
<% else %>
  <%= form_tag(user_relationships_path, :method => 'post') do %>
    <%= hidden_field_tag 'user', @user.id %>
    <%= hidden_field_tag 'follower', current_user.id %>
    <%= submit_tag("follow") %>
  <% end %>
<% end %>
<br/>

<%= "followee(" + @user.followee_count.to_s + ") : " %>
<% @user.get_followees().each do |followee| %>
  <li>
    <%= link_to followee.name, user_path(followee) %>
  </li>
<% end %>
<br/>

<%= "follower(" + @user.follower_count.to_s + ")" %>
<% @user.get_followers().each do |follower| %>
  <li>
    <%= link_to follower.name, user_path(follower) %>
  </li>
<% end %>
<br/>

<%= "discuss(" + @user.discuss_count.to_s + ")" %>
<br/>

<%= "message(" + @user.msg_count.to_s + ")" %>
<br/>

<%= "version(" + @user.version.to_s + ")" %>

<% if user_signed_in? and @user == current_user %>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
<% end %>
